
/* Styles généraux */
pre {
    color: var(--vscode-textPreformat-foreground);
    background-color: var(--vscode-textBlockQuote-background);
    border: 1px solid var(--vscode-textBlockQuote-border);
    padding: 0.5rem;
    margin: 0;
}

code {
    font-style: normal;
}

select {
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    color: var(--vscode-settings-dropdownForeground);
    background-color: var(--vscode-settings-dropdownBackground);
    border-color: var(--vscode-settings-dropdownBorder);
}

input[type="checkbox"] {
    color: var(--vscode-settings-checkboxForeground);
    background-color: var(--vscode-settings-checkboxBackground);
    border: 1px solid var(--vscode-settings-checkboxBorder);
}

button,
input[type="text"] {
    color: var(--vscode-settings-textInputForeground);
    background-color: var(--vscode-settings-textInputBackground);
    border: 1px solid var(--vscode-settings-checkboxBorder);
}

input[type="text"].ng-invalid {
    color: var(--vscode-editorError-foreground);
}

button:disabled,
input[type="text"]:disabled {
    color: var(--vscode-settings-checkboxBorder);
    background-color: var(--vscode-settings-textInputBackground) !important;
}

select:focus, select:active,
button:focus, button:active,
input:focus, input:active {
    outline-color: var(--vscode-focusBorder);
}

label {
    display: inline-flex;
}

label > input[type="checkbox"] {
    margin-right: 0.5rem;
}

summary {
    cursor: pointer;
}

details:focus,
summary:focus {
    outline: none;
}

/* Debug */
.settings-editor > .settings-body > .debug {
    flex: 0 0 450px;
    overflow: auto;
}
