
/* settings-editor */
wb-app > .settings-editor {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    /* overflow: hidden; */
}

/* settings-header */
wb-app > .settings-editor > .settings-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

wb-app > .settings-editor > .settings-header > .theme-selector {
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

wb-app > .settings-editor > .settings-header > .theme-selector > div > select {
    padding: 0.25rem 0.5rem;
    margin: 0 0 0 0.5rem;
}

wb-app > .settings-editor > .settings-header > .theme-selector > .debug-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

wb-app > .settings-editor > .settings-header > .usage {
    font-style: italic;
    padding: 0.5rem 0;
}

wb-app > .settings-editor > .settings-header > .usage:not([open]) {
    color: var(--vscode-descriptionForeground);
}

wb-app > .settings-editor > .settings-header > .usage > p {
    margin: 0.5rem;
    margin-top: 0;
}

/* settings-body */
wb-app > .settings-editor > .settings-body {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

wb-app > .settings-editor > .settings-body > .toc {
    flex: 0 0 150px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid var(--vscode-descriptionForeground);
}

wb-app > .settings-editor > .settings-body > .toc > .category {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

wb-app > .settings-editor > .settings-body > .toc > .category + .category {
    margin-top: 1rem;
}

wb-app > .settings-editor > .settings-body > .toc > .category > .title {
    font-weight: bold;
    font-size: 120%;
    padding: 0 0.5rem;
    margin-bottom: 0.25rem;
}

wb-app > .settings-editor > .settings-body > .toc > .category > button {
    line-height: 150%;
    color: inherit;
    background: none;
    padding: 0.125rem 0.5rem;
    border: none;
}

wb-app > .settings-editor > .settings-body > .rules {
    flex: 1 1 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

wb-app > .settings-editor > .settings-body > .rules > .rule + .rule {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--vscode-descriptionForeground);
}

wb-app > .settings-editor > .settings-body > .rules > .rule > .summary {
    margin-bottom: 0.5em;
}

wb-app > .settings-editor > .settings-body > .rules > .rule > .summary > .name {
    font-weight: bold;
    font-size: 120%;
    word-wrap: normal;
}

wb-app > .settings-editor > .settings-body > .rules > .rule > .summary > .description {
    color: var(--vscode-descriptionForeground);
    font-style: italic;
    margin-left: 0.5rem;
    word-wrap: break-word;
}
