<div class="swatch">
    <button ng-disabled="$ctrl.disabled" ng-style="{ 'background-color': $ctrl.cssSafeColor }" ng-click="$ctrl.showPicker()"></button>
</div>
<input type="text" ng-disabled="$ctrl.disabled" ng-model="$ctrl.color" ng-model-options="$ctrl.colorModelOptions" ng-pattern="$ctrl.colorModelPattern" ng-change="$ctrl.colorChanged()" spellcheck="false" placeholder="Color" maxlength="9">
<div class="actions">
    <!-- <button ng-disabled="$ctrl.disabled" ng-click="$ctrl.revert()">R</button> -->
    <button ng-disabled="$ctrl.disabled" ng-click="$ctrl.clear()" >X</button>
</div>
<div class="picker" ng-if="$ctrl.isPickerShown">
    <div><!-- header-->
        <p>Couleur</p>
    </div>
    <div><!-- body-->
        <div></div><!-- Saturation -->
        <div></div><!-- Hue-->
        <div></div><!-- Alpha -->
    </div>
</div>
<!-- <pre>color = {{ $ctrl | json }}</pre> -->
