
/* wb-color-editor */
wb-color-editor {
    display: flex;
    flex-wrap: nowrap;
    max-width: 210px;
}

wb-color-editor > div {
    display: flex;
    flex: 0 0 auto;
}

wb-color-editor > input[type="text"] {
    flex: 1 1 auto;
}

wb-color-editor button {
    z-index: 2;
    flex: 0 0 auto;
    display: block;
    text-align: center;
    cursor: pointer;
}

wb-color-editor button:disabled {
    cursor: auto;
}

wb-color-editor > div.swatch > button:not(:disabled) {
    padding: 4px;
    background-clip: content-box;
}

wb-color-editor > input {
    flex: 1 1 auto;
    width: 1%;
    line-height: 1.5rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
